<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="styles/style.css">
  <script src="vendors/jquery-3.2.1.min.js" charset="utf-8"></script>
  <script src="scripts/script.js" charset="utf-8"></script>
  <h1>Weekend Challenge 2 - Calculator</h1>
</head>

<body>
  <input id="value1" placeholder="number1">
  <button type="button" class="addBtn">+</button>
  <button type="button" class="subBtn">-</button>
  <button type="button" class="mulBtn">x</button>
  <button type="button" class="divBtn">/</button>
  <input id="value2" placeholder="number2">
  <button type="button" class="clearBtn">Clear</button>
  <div id="result"></div>
  </div>
</body>

</html>
